.flashes {
    margin: 0;
    width: 100%;
    padding: 10px 0;
}

.message {
    list-style: none;
    padding: 20px;
    border-radius: 5px;
    margin: 0;
    text-align: center;
}

.alert-message {
    background: palevioletred;
}

.info-message {
    background: lightblue;
}

.success-message {
    background: lightgreen;
}