{% extends "layout.html" %}
{% block content %}
<form action="{{  url_for('create') }}" method=POST enctype="multipart/form-data">
    <dl>
        <dt>Name of game:</dt>
        <dd><input type="text" size="65" name="name"></dd>
        <dt>Version: </dt>
        <dd>
            <select name="version">
                <option value="latest">Latest</option>
                <option value="stable">Stable</option>
                <option value="0.16.51">0.16.51</option>
            </select>
        </dd>
        <dt>(Optional) Save file upload: </dt>
        <dd><input type="file" name="save" id="save" ></dd>
        <br />
        <dd><input type="submit" value="Create Game"></dd>
    </dl>
</form>

{% endblock %}