{% extends "layout.html" %}

<script>
    function handleDropdownActions(e) {
    }
</script>
{% block content %}
    <table>
        <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Status</th>
            <th>Modify</th>
        </tr>
    {% for game in games %}
        <tr>
            <td>{{game.game_name}}</td>
            <td>{{game.version}}</td>
            <td>{{game.status}}</td>
            <td><a href="{{ url_for('get_settings_for_game', game_id=game.gameid) }}">Settings Page</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
