<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='gametable.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='alerts.css') }}">
    </head>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let path = window.location.pathname.slice()

            document.querySelectorAll('.sidebar a').forEach(function(element) {
                if (element.attributes.href.value === path) {
                    element.className += " active"
                }
            })
        })
    </script>
    <body>
        <div class="sidebar">
            <a href="{{ url_for('entry') }}">Home</a>
            <a href="{{ url_for('create') }}">Create New Game</a>
            <a href="{{ url_for('get_existing_games') }}">Current Games</a>
        </div>
        <div class="content">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul class=flashes>
                    {% for category, message in messages %}
                        <li class="message {{ category }}-message">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
            {% block content %}

            {% endblock %}
        </div>
    </body>
</html>